<div><label for="default">default</label><input
    type="text" id="default" value=""></div>
<div><label for="optional">optional</label><input
    type="checkbox" id="optional"></div>
<div><label for="requires">requires</label><input
    type="text" id="requires"></div>
<div><label for="minimum">Minimum</label><input type="text" id="minimum"
    value=""></div>
<div><label for="maximum">Minimum</label><input type="text" id="maximum"
    value=""></div>
<div><label for="minimumCanEqual">minimumCanEqual</label><input
    type="checkbox" id="minimumCanEqual"></div>
<div><label for="maximumCanEqual">maximumCanEqual</label><input
    type="checkbox" id="maximumCanEqual"></div>
